html{
  height: 100%;
}
body {
  min-height: 100%;
  background: url(../_img/bck_login.png) center bottom #010101 no-repeat;
  margin:0;
  font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#fff;
}


#login { width:500px;  min-height:200px;  margin:auto; top:20px; position:absolute;  left:50%; margin-left:-250px; background:url(../_img/bck_trans.png); border-radius:4px; top:40%; margin-top:-100px; }
#login .error { background-color:#ca3737; color:#fff; display:block; padding:2px; }
form {  }
form fieldset { border:none; }
form fieldset .loading { margin-left:5px; margin-top:5px; position:absolute; display:none;}
form fieldset p label { width:110px;  margin-right:25px; text-align:right; color:#fff; font-size:13px; font-weight:400;}
form fieldset .inline { display:inline-block; }

form fieldset p input[type="text"] { border-color: #d9d9d9;
border-radius: 2px;  width:200px; border: 1px solid #cccccc;
padding: 6px 6px; }
form fieldset p input[type="password"] { border-color: #d9d9d9;
border-radius: 2px;  width:200px; border: 1px solid #cccccc;
padding: 6px 6px; }

a.btn_save { padding: 5px; background-color: #008fd8; width: 80px; border-radius: 2px; text-align: center; display:block;margin-top:15px; color:#fff; font-weight:bold; text-decoration:none; } 
a.btn_save:hover { background-color:#0077b3; }
a.btn_save i { color:#fff; }